<a href="https://colab.research.google.com/github/chaturvediajay/pyalmi/blob/main/DS_python_Session%2B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2 style = "color:Brown"> Relational Operators</h2>

- compares the values on either side of the opeartor and returns and boolean value as True or False.

#### equal to operator

In [ ]:
10 == 10

True

<h3 style = "color:Red">Alert!!!</h3>

##### = is an assignment operator, to assign value of an expression on right to a variable on left.

In [ ]:
10 == 5

False

#### not equal to operator

In [ ]:
10 != 5

True

#### greater than operator

In [ ]:
10 > 5

True

#### less than operator

In [ ]:
10 < 5

False

#### greater than equal to operator

In [ ]:
10 <= 5

False

#### less than equal to operator

In [ ]:
10 >= 5

True

<h2 style = "color:Brown">Decision Making

#### Write a program to check value in variable x is even or odd

In [ ]:
x = 10

if x % 2 == 0:
    print(x, "is even number")
else:
    print(x, "is odd number")

10 is even number

#### Write a program to accept age of visitor and allows him to PM's party only if he is above 60 years or below 18 years of age

In [ ]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to party")
else:
    print("Sorry!! you do not fit in PM's age criteria")

#### Write a program which offers various discounts on purchase bills

In [ ]:
shoppinng_total = 5500

if shoppinng_total >= 5000:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

#### Write a program to accepts three numbers from user and print the largest of three numbers

In [ ]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check India made it to Finals in 20th century : "))

if year in world_cups :
    if "India" in world_cups[year] :
        print("India made it to Finals")
    else:
        print("India could not make it to Finals")
        
else:
    print("World cup wasnt played in", year)

Enter year to check India made it to Finals: 2003
India made it to Finals

<h2 style = "color:Brown">Iteration

In [ ]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

In [ ]:
# iterate over a string

string = "Himachal Pradesh"
for ch in string:
    print(ch)

In [ ]:
# iterate over a string - modify print using end

string = "Himachal Pradesh"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

In [ ]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [ ]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [ ]:
# Generate range of values.
range(1, 101)

In [ ]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end = " ")

In [ ]:
# different variations in range

range(1, 100, 2) # gives numbers from 1 to 100 with a step count of 2
range(100, 0, -1) # gives a reversed sequence of numbers from 100 to 1

range(100, 0, -1)

In [ ]:
ch = ""
while ch != "quit":
    ch = input()
    print(ch)

x
x
abc
abc
quit
quit

In [ ]:
while True:
    ch = input()
    if ch == "quit":
        break
    print(ch)

x
x
c
c
quit

In [ ]:
x = 0
while x <=50 :
    x += 3
    if x % 5 == 0 :
        continue   
    print(x, end = " ")

3 6 9 12 18 21 24 27 33 36 39 42 48 51

<h2 style = "color:Brown">Comprehensions

In [ ]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [ ]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

In [ ]:
# iterating over l1 and l2 simultaneaously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [ ]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [ ]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : aeroplane

{'a', 'e', 'o'}

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [ ]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

#### Default Argument

In [ ]:
def func(name, age = 35):
    print("name : ", name)
    print("age : ", age)

In [ ]:
func("Jane", 25)

name :  Jane
age :  25

In [ ]:
func("Jane")

name :  Jane
age :  35

In [ ]:
def func(name, age = 35, city = "Mumbai"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Banglore")

name :  Jane
age :  35
city :  Banglore

In [ ]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc")

(1, 3, 'abc')

<h2 style = "color:Brown"> Lambda Function

In [ ]:
# Write a lambda funtion to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

#### Ex. Write a lambda function to perform addition of two numbers

In [ ]:
f = lambda x, y : x + y

f(2,5)

7

<h2 style = "color:Brown">map - filter - reduce

In [ ]:
countries = ["India", "Japan", "Italy", "France"]

#### map the list to obtained the names of countries in upper case

In [ ]:
list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

#### filter the countries names starting with "I"

In [ ]:
list(filter(lambda x : x.startswith("I"), countries))

['India', 'Italy']

#### reduce the list to concatante the countries names into a single string variable seperated by " "

In [ ]:
from functools import reduce

reduce(lambda x, y : x + " " + y, countries)

'India Japan Italy France'

#### Some more examples on map - filter - reduce

In [ ]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x000002200C31F5C0>
[4, 16, 25]

#### Defining a function and using it in map

In [ ]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [ ]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [ ]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

#### Reduce to return product of elements

In [ ]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6